Yogesh/pl_fabric_de_series_006_variables.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "name": "Set variable1",
        "type": "SetVariable",
        "dependsOn": [],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "typeProperties": {
          "variableName": "var_string_1",
          "value": "new value"
        }
      },
      {
        "name": "Set variable2",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "Set variable1",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "typeProperties": {
          "variableName": "var_string_2",
          "value": {
            "value": "@pipeline().PipelineName",
            "type": "Expression"
          }
        }
      },
      {
        "name": "Set variablearray2",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "Append variable1",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "typeProperties": {
          "variableName": "var_array_2",
          "value": {
            "value": "@variables('var_array_1')",
            "type": "Expression"
          }
        }
      },
      {
        "name": "Append variable1",
        "type": "AppendVariable",
        "dependsOn": [
          {
            "activity": "Set variable2",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "typeProperties": {
          "variableName": "var_array_1",
          "value": "c"
        }
      }
    ],
    "variables": {
      "var_string_1": {
        "type": "String",
        "defaultValue": "some random text"
      },
      "var_string_2": {
        "type": "String"
      },
      "var_array_1": {
        "type": "Array",
        "defaultValue": [
          "A",
          "B"
        ]
      },
      "var_array_2": {
        "type": "Array"
      }
    }
  }
}